<div class="col-xs-4">
  <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Connected users</div>
  <div class="panel-body">
    <p ng-model="retro">Users for retro <span class="label label-info" ng-bind="retro.id"></span></p>
  </div>

  <!-- List of users -->
				        <ul class="list-group">
				            <li class="list-group-item" ng-repeat="user in users">
                                {{ x.name }}
                            </li>
				        </ul>
  </div>
</div>