<div class="col-xs-4">
				    <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Connected users</div>
  <div class="panel-body">
    <p>Users for retro <span class="label label-info">#19213</span></p>
  </div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item">David</li>
    <li class="list-group-item">Shana</li>
    <li class="list-group-item">Someone</li>
    <li class="list-group-item">Shadow</li>
    <li class="list-group-item">Michele</li>
  </ul>
</div>
</div>